@model IEnumerable<DivisionMovement>

<h3>Движения подразделений</h3>
<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th class="text-center">№</th>
            <th>Подразделение</th>
            <th>Отдел</th>
            <th class="text-center">Вид</th>
            <th class="text-center">Дата</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 1; }
        @foreach (var e in Model)
        {
            <tr>
                <td class="text-center">@(i++)</td>
                <td>@e.Division</td>
                <td>@(e.ParentDivision == null ? "Организация" : e.ParentDivision)</td>
                <td class="text-center">@e.MovementType</td>
                <td class="text-center">@e.Date.ToString("d")</td>
                <td class="text-center">
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@e.Id">Редактировать</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-action="Create">Новое движение</a>